@keyframes leftTorights {
  from {
    transform: translateX(1000%) rotate(360deg);
    opacity: 0;
  }
  to {
    transform: translateX(0%) rotate(0);
    opacity: 1;
  }
}
@keyframes widths {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



@keyframes topTobottom {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 2rem;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes tranformX {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}