.banner {
    position: relative;
    // background: url(../webImages/banners/1.png) no-repeat;
    background-size: cover;
    .bannerback {
        width: 100%;
    }
    &__slide{
        &--text{
            position: relative;
            width: 90%;
            margin: 0 auto;
            z-index: 1;
            padding-top: 8vw;
            h1 {
                color: $secondary-color;
                font-size: 3vw;
                margin-bottom: 2rem;
            }
             p {
                 color: #fff;
                 font-size: 1.5vw;
             }
      
        }
    }
    .mystyle2 {
        position: relative;
        display: inline-block;
        margin-right: 2rem;
        top: 1200px;
        transition: .7s;
        @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
               transition-delay: #{$i * 0.03}s;
            }
        }
    }
        .swiper-slide-active {
            h1.text2 .mystyle2 {
                animation: 2.5s topTobottom;
                margin-bottom: 0;
                line-height: 0.8;
                top: 0;
            
            @for $i from 1 through 100 {
                &:nth-child(#{$i}) {
                    animation-delay: #{$i * 0.03}s;
                }
            }
            }
        }
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 3rem;
}
span.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #80a594;
    border: 2px solid #80a594;
    opacity:11;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: $primary-color;
     background: $secondary-color;
}
.banner__slide{
    .bottom0 {
        position: absolute;
        transform: translateY(2000px);
        transition: .5s;
    }
}

.banner1.swiper-slide-active {
    .bottom0 {
        transform: translateY(0);
    }
.star1 {
    position: absolute;
    top: 0;
    left: 2%;
    width: 17vw;
    transition-delay: .1s;
}
.star2 {
    position: absolute;
    top: 5%;
    right: 4%;
    width: 52vw;
    transition-delay: .3s;
    animation: 80s tranformX linear infinite;
}
.star3 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 24.5vw;
    transition-delay: .6s;
}
.star4 {
    position: absolute;
    top: 19%;
    left: 36%;
    width: 23.8vw;
    transition-delay: .9s;
}
.star5 {
    position: absolute;
    top: 30%;
    right: 14%;
    width: 12.5vw;
    transition-delay: 1.2s;
    animation: 5s topTobottom  infinite;
}
.cloud1 {
    position: absolute;
    bottom: 5%;
    right: 6%;
    width: 15.5vw; 
    transition-delay: 1.5s;
}
}

.banner2.swiper-slide-active {
    .bottom0 {
        transform: translateY(0);
    }
    .star1 {
        position: absolute;
        top: 11%;
        left: 2%;
        width: 9vw;
        transition-delay: .1s;
        animation: 2s topTobottom  infinite;
    }
    .star2 {
    position: absolute;
    top: 11%;
    left: 23%;
    width: 7.2vw;
    transform: rotate(45deg);
    transition-delay: .3s;
    animation: 3s topTobottom  infinite;
    }
    .star3 {
        position: absolute;
        top: 8%;
        left: 41%;
        width: 6.2vw;
        transform: rotate(-45deg);
        transition-delay: .6s;
        animation: 4s topTobottom  infinite;
    }
    .student1 {
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        width: 100%;
        transition-delay: .9s;
    }
    .cloud1 {
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 14.5vw;
        transition-delay: 1.2s;  
    }
    .cloud2 {
        position: absolute;
        bottom: 5%;
        right: 20%;
        width: 18vw;
        transition-delay: 1.5s;
    }
    .cloud3 {
        position: absolute;
    top: 27%;
    right: 22%;
    width: 9.5vw;
    transition-delay: 1.8s;
    }
    .cloud4 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16.5vw;
        transition-delay: 2.1s;

    }
    
    .rocket1 {
        position: absolute;
        bottom: 2%;
        right: 22%;
        width: 8vw; 
        transition-delay: 2.4s;
        animation: 5s rotate1  infinite;
    }
    .rocket2 {
    position: absolute;
    top: -8px;
    right: 22%;
    width: 17vw;
    transition-delay: 2.7s;
}


    }


    .banner3.swiper-slide-active {
        .bottom0 {
            transform: translateY(0);
        }
        .star1 {
            position: absolute;
            top: 4.6%;
            left: 0;
            width: 45vw;
            right: 0;
            margin: 0 auto;
            transition-delay: .1s;
            animation: 5s topTobottom  infinite;
        }
        .star2 {
            position: absolute;
            top: 7%;
            right: 5%;
            width: 16.2vw;
            transition-delay: .3s;
        }
        .star3 {
            position: absolute;
            bottom: 5%;
            right: 5%;
            width: 17.2vw;
            transition-delay: .6s;
        }
        .star4 {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 21.2vw;
            transition-delay: .9s;
        }
        .star5 {
            position: absolute;
            bottom: 5%;
            left: 5%;
            width: 13vw;
            transition-delay: 1.2s;
        }
        .star6 {
            position: absolute;
            bottom: 5%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 23vw;
            transition-delay: 1.5s;
        }
    
    
        }
.swiper-slide {
    opacity: 0 !important;
}
.swiper-slide-active {
    opacity: 1 !important;
}